@import 'tailwindcss';

body {
  font-family: 'Noto Sans SC', sans-serif;
  background: var(--color-body);
  color: var(--color-text);
  margin: 0;
}

@utility font-en {
  font-family: 'Barlow', sans-serif;
}
